@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Reservas online</h1>
    <p>Faça aqui suas reserva de equipamentos para utilizar na sala de aula!</p>
    <div>
        <img src="/image/read_book_study_icon-icons.com_51077.png"/>
    </div>
</div>
